* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    
    background: #0b0f0e;
    color: #e5e7eb;
    font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
     background-image: url("https://images.unsplash.com/photo-1577657254137-b81fccd70587?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

#navbar {
    height: 70px;
    padding: 0 8%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image: url("https://images.unsplash.com/photo-1544637912-761c7e212891?q=80&w=1244&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-bottom: 1px solid #ddd;

    position: sticky;
    top: 0;
    z-index: 10;
}

#navbar h2 {
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #9db4e1;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #23b257;
    font-size: 15px;
}

.nav-links a:hover {
    color: #86efac;
    text-decoration: underline;
}

#home {
    min-height: 70vh;
  margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}

#profilepic {
    margin-left: 20px;
    width: 400px;
    height:400px ;
    border: 2px solid #212121;
    border-radius: 10px;
    overflow: hidden;
    transform: translate(-30px);
}

#profilepic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

#profile {
    margin-top: 0px;
    max-width: 500px;
}

#profile h1{
    font-size: 65px;
}
#profile h3{
    margin-top: 8px;
    font-size: 40px;
     color: #22c55e;
     font-weight: 700;
     letter-spacing: 1px;
    
}
#profile p{
    font-size: 35px;
    margin-top: 10px;
   line-height: 40px;
}
#profile p:first-child {
    color: #9db4e1;
    font-weight: 600;
    
}
#profile p:last-child {
    margin-top: 5px;
    color: #9db4e1;
    font-weight: 500;
    letter-spacing: 2px;
    padding-left: 5px;
    
}


#about{
    min-height: 70vh;
    padding: 100px 10%;
    margin-top: 20px;
}
#content{
    max-width: 80vw;
}
#about h2{
    font-size: 50px;
    margin-bottom: 25px;
    font-weight: 700;
    color: #22c55e;

}
#about h3{
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 600;
    color: bisque;
}
#content1{
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 1px;
    
}
#content2{
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 1px;
}
strong{
    color: #aa79dc;
    
}

#skills{
    min-height: 90vh;
    min-width: 80vw;
    padding-left: 150px;
   
}

#skill-content h2{
    font-size: 50px;
    margin-bottom: 25px;
    font-weight: 700;
    color: #22c55e;
}

#skill-content h3{
        font-size: 35px;
    margin-bottom: 20px;
    font-weight: 600;
    color: bisque;
}

#cards{
    width: 80vw;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    gap: 35px;
}
.card{
    font-size: 25px;
    background-color: #3f4040;
    color: rgb(34, 197, 94);
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 5px;
    max-width: 600px;
    border: 1px solid rgb(34,197,94);

}
.card h3{
     padding-left: 15px;
     padding-bottom: 20px;
    font-size: 40px;
    align-content: center;
}
.card p{
    padding-left: 20px;
    font-size: 20px;
    color:beige;
}
.card img{
    width: 60px;
    height: 60px;
  object-fit: contain;
  transition: .3s;
}

